*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}
/*  */
body,
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
	background-color: #1d2637;
	color: white;
	text-rendering: optimizeSpeed;
}

#root {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.app {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
