.botGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1px;
	margin: 32px 15px;
}

.botCard {
	border: 1px solid #252d40;
	border-radius: 5px;
	padding: 20px 25px;
	text-align: center;
	background-color: #252d40;
	color: white;
	transition: box-shadow 0.3s ease;
}

.botCard:hover {
	box-shadow: inset 0 0 25px rgba(0, 123, 255, 0.4);
}

.botIcon {
	width: 65px;
	height: 55px;
	margin-bottom: 10px;
}

.botCard h3 {
	margin: 0;
	font-size: 15px;
	color: white;
	text-transform: uppercase;
}

.botCard p {
	margin: 5px 0;
	font-size: 1rem;
	font-weight: bold;
}

.positive {
	color: #4caf50;
}

.negative {
	color: #f44336;
}
